.block_calculator .fsubmit input[type="submit"] {
    width: 100%;
}

/* Form блока */
.block_calculator #fitem_id_b .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
.block_calculator #fitem_id_b .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.block_calculator #fitem_id_a .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
.block_calculator #fitem_id_a .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
}

.block_calculator #fitem_id_c .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
}
.block_calculator #fitem_id_c .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
}